@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

body {
  @apply font-inter bg-white text-gray-900 antialiased;
  font-family: 'Inter', sans-serif;
  transition: background 0.4s, color 0.4s;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

section {
  @apply py-16 md:py-24;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
